body {
  background: #ffffff url('http://gtms01.alicdn.com/tps/i1/TB1hkNfHXXXXXXSXpXXu5HwJFXX-8-8.png') repeat 0 0;
}
.container {
  padding: 40px 0;
  position: relative;
  margin: 0 auto;
  width: 990px;
  text-align: center;
}
.container h1 {
  font-size: 60px;
}
.container p {
  color: #999999;
  font-size: 13px;
}
.container .enter {
  margin-top: 60px;
}
.container .btn {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 10px;
}
.container .syntaxhighlighter {
  padding: 10px;
}
.container .syntaxhighlighter .string,
.container .syntaxhighlighter .string a {
  color: #3dc400 !important;
}
.container .syntaxhighlighter .keyword {
  color: #0050cf !important;
}
.container .syntaxhighlighter .plain,
.container .syntaxhighlighter .plain a {
  color: #676767 !important;
}
.container .syntaxhighlighter .comments,
.container .syntaxhighlighter .comments a {
  color: #bababa !important;
}
#code {
  margin: 40px auto;
  width: 600px;
}
#footer {
  color: #aeaeae;
  text-align: center;
  font-size: 12px;
  margin: 20px 0;
}
#runner {
  background: #ff5d3e;
  opacity: 0.8;
  position: absolute;
  top: 60px;
  left: 600px;
  height: 20px;
  width: 20px;
}
